.el-menu {
  border-right: none;
}
.el-submenu .el-menu-item {
  padding-left: 50px !important;
  &.is-active { background-color: #f56c6c !important; }

}
li.el-submenu {
  &.is-active.is-opened .el-submenu__title{ background-color: #f56c6c !important; }
}
